{% extends 'layout.html' %}

{% block title %}
    About This Project
{% endblock %}

{% block main %}
    <p>This Project Is A Personal Project For The CS50 Final Project</p>
    <p>This Project Utilizes The <a href="https://api.nasa.gov">Nasa's Open API</a></p>
    <p>Tried To Make This Project Easy To Use</p>
    <p>Every Image Is Owned By <a href="https://api.nasa.gov">Nasa</a></p>
    <p>Contact: <a href="mailto:marwanabdulmannan@gmail.com"><i class="bi bi-envelope"></i> Send Email  </a> <a href="https://github.com/Marwan515"><i class="bi bi-github"></i> Github  </a> <a href="https://www.instagram.com/marwan.abdulmannan/"><i class="bi bi-instagram"></i> Instagram</a></p>

{% endblock %}